<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
#print "Hello World"
print('Hello World')

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [7]:
#without using input()
a = 10
b = 20
print('Addition = ',(a+b))

#with using input()
n1 = int(input('\nEnter number-1 : '))
n2 = int(input('Enter number-2 : '))
print('Addition of ',n1,' + ',n2,' = ',(n1+n2))

Addition =  30

Enter number-1 : 11
Enter number-2 : 12
Addition of  11  +  12  =  23

### 03) WAP to check the type of the variable.

In [11]:
#chcke the type of the variable
a = 20
print(type(a))
b = 10.5
print(type(b))
c = True
print(type(c))
d = 'Hello'
print(type(d))
e = 23+10j
print(type(e))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>

### 04) WAP to calculate simple interest.

In [3]:
#calculate simple interest
P = int(input('Enter principal amount : '))

R = float(input('Enter interest rate in percentage : '))

T = int(input('time duration in years : '))

SI = (P*R*T)/100

print('Simple interest = ',SI)

Enter principal amount : 50000
Enter interest rate in percentage : 3.5
time duration in years : 3
Simple interest =  5250.0

### 05) WAP to calculate area and perimeter of a circle.

In [2]:
#calculate area and perimeter of circle
PI = 3.14

R = float(input('Enter radius : '))

#area of circle
area = PI*R*R

#perimeter of circle
peri = 2*PI*R

print('Area of circle : ',area)
print('Perimeter of circle : ',peri)

Enter radius : 7.9
Area of circle :  195.96740000000003
Perimeter of circle :  49.612

### 06) WAP to calculate area of a triangle.

In [3]:
#area of triangle
B = int(input('Enter base : '))

H = int(input('Enter height : '))

area = ((1/2)*(B*H))

print('Area of a triangle : ',area)

Enter base : 3
Enter height : 4
Area of a triangle :  6.0

### 07) WAP to compute quotient and remainder.

In [7]:
#compute quotion and reminder
Q = 5//2
R = 5%2

print('Quotient : ',Q)
print('Reminder : ',R)

Quotient :  2
Reminder :  1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [14]:
#degree into fahrenheit 
C = int(input('Enter Degree : '))

F = ((9/5)*C)+32

print(C,' Celsius = ',F,' Fahrenheit')

#fahrenheit into celsius

C = (5/9)*(F-32)

print(F,' Fahrenheit = ',C,' Celsius')

Enter Degree : 10
10  Celsius =  50.0  Fahrenheit
50.0  Fahrenheit =  10.0  Celsius

### 09) WAP to find the distance between two points in 2-D space.

In [15]:
#distance between two points in 2-D space

x1 , y1 = (3 , 4)
x2 , y2 = (7 , 7)
   
distance = (((x2 - x1)**2 +(y2 - y1)**2)**0.5)
 
print('Distance between two points : ',distance)

Distance between two points :  5.0

### 10) WAP to print sum of n natural numbers.

In [22]:
#sum of n natural number
n = int(input('Enter Number : '))
sumOfN = n*(n+1)/2
print('Sum of',n,' natural number : ',sumOfN)

Enter Number : 10
Sum of 10  natural number :  55.0

### 11) WAP to print sum of square of n natural numbers.

In [1]:
#sum of square of n natural numbers
n = int(input('Enter Number : '))
sumOfSquareN = n*(n+1)*(2*n+1)/6
print('Sum of',n,' natural number : ',sumOfSquareN)

Enter Number : 4
Sum of 4  natural number :  30.0

### 12) WAP to concate the first and last name of the student.

In [6]:
#concate the first and last name
first_name = "Heena"
last_name = "Solanki"

name = first_name + " " + last_name

print("Student Name : "+name)

Student Name : Heena Solanki

### 13) WAP to swap two numbers.

In [19]:
#swap two numbers
a = int(input('Enter Number-1 : '))

b = int(input('ENter Number-2 : '))

print('Before swap a =',a,' b =',b)

temp = a
a = b
b = temp

print('After swap a =',a,' b =',b)

Enter Number-1 : 10
ENter Number-2 : 20
Before swap a = 10  b = 20
After swap a = 20  b = 10

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [ ]:
#convert kilometer into meter, feet, inches and centimeter
distance = int(input("Enter distance in kilometer : "));
print("Distance in kilometres : ",distance);

#convert kilometer into meter
meter = distance * 1000;
print("Distance in meter : ",meter);

#convert kilometer into feet
feet = distance * 3280.84;
print("Distance in meter : ",meter);

#convert kilometer into inches
inches = distance * 39370.1;
print("Distance in inches : ",inches);

#convert kilometer into centimeter
centimeter = distance * 100000;
print("Distance in centimeter : ",centimeter);

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [11]:
#print date
year = int(input('Enter a year: '))
month = int(input('Enter a month: '))
day = int(input('Enter a day: '))

print(day, month, year, sep="-")

Enter a year: 2024
Enter a month: 11
Enter a day: 23
23-11-2024